$color_1: #1b2642;
$color_2: white;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.footer {
	position: relative;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.img__logoFooter {
	height: 26px;
}
.footbar__navigation {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}
.footbar__logo {
	margin-left: 1rem;
}
.footbar__logofooter {
	a {
		color: $color_1;
		text-decoration: none;
		font-size: 1.5rem;
	}
}
.spacer {
	flex: 1;
}
.footer_navigation-items {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	li {
		padding: 0 0.5rem;
	}
	a {
		color: $color_1;
		text-decoration: none;
		&:active {
			color: $color_1;
		}
	}
}
.img__logo {
	background-image: url(./footer.png);
}
.fa {
	padding: 20px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	align-items: center;
}
.fa-facebook {
	background: #edeeef;
	color: $color_2;
}
.fa-twitter {
	background: #edeeef;
	color: $color_2;
}
.fa-instagram {
	background: #edeeef;
	color: $color_2;
}
@media (max-width: 768px) {
	.footer_navigation-items {
		list-style-type: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.footbar__navigation {
		height: 100%;
		margin-top: 3em;
		margin-bottom: 3em;
		display: block;
		width: 50%;
		margin-left: 3em;
		text-align: left;
		margin: auto;
	}
	.footbar__logo {
		margin-left: 1rem;
		margin-bottom: 3em;
	}
	.img__logoFooter {
		height: 26px;
	}
}
@media (min-width: 769px) {
	.footbar__toggle-button {
		width: 90%;
	}
	.footbar__logo {
		margin-left: 0;
	}
}
